body{
  padding: 50px;
  font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  color: #00b7ff;
}

:focus{
  outline:none;
}

#content{
  width: 800px;
  margin:0 auto;
}

#room{
  background-color: #ddd;
  margin-bottom: 1em;
}

.roomName{
  font-size: 1.4em;
  font-weight: bold;
  border-left: 5px solid #696969;
  padding-left: 10px;
  margin-bottom: 10px;
}

.roomList{
  text-decoration: underline;
  line-height: 1.5;
}

.roomList:hover{
  cursor: pointer;
  background-color:#ddd;
}

.systemMessage{
  color:#696969;
  font-style: italic;
}

.selfMessage{
  color:#0000ff;
}

.messages{
  height: 300px;
  overflow: auto;
  background-color: #eee;
  margin-bottom: 1em;
  margin-right: 10px;
}

.inputMessage{
  width: 700px;
  margin-bottom: 1em;
  margin-right: 1em;
}

.help{
  font-size:0.5em;
}